<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:name="http://www.w3.org/1999/xhtml">

<head th:replace="fragments :: head">
</head>
<body class="container">
<nav>
    <ul>
        <li><a class="logo" href="/NumNums"><h2>NumNums!</h2></a></li>
        <li><a href="/NumNums">Search</a></li>
        <li><a href="/NumNums/logout">Logout</a></li>
        <li><a href="/NumNums/about">About</a></li>
    </ul>
</nav>

<div>
    <p th:text="${user}"></p>
</div>

<div>
    <b>You are logged in! Add another great restaurant to NumNums!</b>
</div>
<form th:action="@{/NumNums/add}" method="POST"  class="form-signin" th:object="${restaurant}">
    <div class="container">
        <span class="error" th:text="${restaurantExistsMessage}"></span>
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <br/>
                <div class="form-group">
                    <div class="col-sm-9">
                        <label th:for="restaurantName">Name of Restaurant</label>
                        <input type="text" id="restaurantName" name="restaurantName" th:field="*{restaurantName}"
                               class="form-control" /> <br/>
                        <span class="error" th:errors="*{restaurantName}"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-9">
                        <label th:for="webAddress">Restaurant Web Address</label>
                        <input type="text" id="webAddress" name="webAddress" placeholder="https//: " th:field="*{webAddress}" class="form-control" /> <br />
                        <span class="error" th:errors="*{webAddress}"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-9">
                        <label th:for="streetAddress">Restaurant Street Address</label>
                        <input type="text" id="streetAddress" name="streetAddress" th:field="*{streetAddress}" class="form-control" /> <br />
                        <span class="error" th:errors="*{streetAddress}"></span>
                    </div>
                </div>
                    <div class="form-group">
                    <div class="col-sm-9">
                        <label th:for="city">City</label>
                        <input type="text" id="city" name="city" th:field="*{city}" class="form-control" /> <br />
                        <span class="error" th:errors="*{city}"></span>
                    </div>
                    </div>
                        <div class="form-group">
                            <div class="col-sm-9">
                                <div class="dropdown">
                                    <label th:for="state">State</label>
                                    <select name="state" th:field="*{state}" >
                                        <option value="AL">Alabama (AL)</option>
                                        <option value="AK">Alaska (AK)</option>
                                        <option value="AZ">Arizona (AZ)</option>
                                        <option value="AR">Arkansas (AR)</option>
                                        <option value="CA">California (CA)</option>
                                        <option value="CO">Colorado (CO)</option>
                                        <option value="CT">Connecticut (CT)</option>
                                        <option value="DE">Delaware (DE)</option>
                                        <option value="DC">District Of Columbia (DC)</option>
                                        <option value="FL">Florida (FL)</option>
                                        <option value="GA">Georgia (GA)</option>
                                        <option value="HI">Hawaii (HI)</option>
                                        <option value="ID">Idaho (ID)</option>
                                        <option value="IL">Illinois (IL)</option>
                                        <option value="IN">Indiana (IN)</option>
                                        <option value="IA">Iowa (IA)</option>
                                        <option value="KS">Kansas (KS)</option>
                                        <option value="KY">Kentucky (KY)</option>
                                        <option value="LA">Louisiana (LA)</option>
                                        <option value="ME">Maine (ME)</option>
                                        <option value="MD">Maryland (MD)</option>
                                        <option value="MA">Massachusetts (MA)</option>
                                        <option value="MI">Michigan (MI)</option>
                                        <option value="MN">Minnesota (MN)</option>
                                        <option value="MS">Mississippi (MS)</option>
                                        <option value="MO">Missouri (MO)</option>
                                        <option value="MT">Montana (MT)</option>
                                        <option value="NE">Nebraska (NE)</option>
                                        <option value="NV">Nevada (NV)</option>
                                        <option value="NH">New Hampshire (NH)</option>
                                        <option value="NJ">New Jersey (NJ)</option>
                                        <option value="NM">New Mexico (NM)</option>
                                        <option value="NY">New York (NY)</option>
                                        <option value="NC">North Carolina (NC)</option>
                                        <option value="ND">North Dakota (ND)</option>
                                        <option value="OH">Ohio (OH)</option>
                                        <option value="OK">Oklahoma (OK)</option>
                                        <option value="OR">Oregon (OR)</option>
                                        <option value="PA">Pennsylvania (PA)</option>
                                        <option value="RI">Rhode Island (RI)</option>
                                        <option value="SC">South Carolina (SC)</option>
                                        <option value="SD">South Dakota (SD)</option>
                                        <option value="TN">Tennessee (TN)</option>
                                        <option value="TX">Texas (TX)</option>
                                        <option value="UT">Utah (UT)</option>
                                        <option value="VT">Vermont</option>
                                        <option value="VA">Virginia</option>
                                        <option value="WA">Washington</option>
                                        <option value="WV">West Virginia</option>
                                        <option value="WI">Wisconsin</option>
                                        <option value="WY">Wyoming</option>
                                    </select>
                                    <br><br>
                                </div>
                            </div>
                        </div>
                <div class="form-group">
                    <div class="col-sm-9">
                        <label th:for="zipCode">ZipCode</label>
                        <input type="text" id="zipCode" name="zipCode" th:field="*{zipCode}" class="form-control" /> <br />
                        <span class="error" th:errors="*{zipCode}"></span>
                    </div>
                </div>
                <div class="checkbox">
                    <p>Please select the dining options available. You may choose all that apply.</p>
                    <ul>
                        <li><input type="checkbox" name="glutenFree" th:field="*{glutenFree}" th:value="true"/>gluten-free<br></li>
                        <li><input type="checkbox" name="lactoseFree" th:field="*{lactoseFree}" th:value="true"/>lactose-free<br></li>
                        <li><input type="checkbox" name="vegan" th:field="*{vegan}" th:value="vegan"/>vegan<br></li>
                        <li><input type="checkbox" name="vegetarian" th:field="*{vegetarian}" th:value="true" />vegetarian<br></li>
                        <li><input type="checkbox" name="nonVegetarian" th:field="*{nonVegetarian}" th:value="true"/>non-vegetarian<br></li>
                    </ul>
                </div><br>
                <div class="form-group">
                    <div class="col-sm-9">
                        <button class="btn btn-lg btn-primary btn-block" name="Add" value="Add" type="Submit" th:text="Add"></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
</body>
</html>