<!DOCTYPE html>
<html xmlns:="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="fragments :: head">
</head>
<body class="container">
<nav>
    <ul>
        <li><a class="logo" href="/NumNums"><h1 class="display-1">NumNums</h1></a></li>
        <li><h4><a href="/NumNums">Search</a></h4></li>
        <li><h4><a href="/NumNums/logout">Logout</a></h4></li>
        <li><h4><a href="/NumNums/about">About</a></h4></li>

    </ul>
</nav>
<div>
    <p th:text="${message}"></p>
    <p th:text="${user}"></p>
</div>
<div th:if="${restaurants} and ${restaurants.size()}" >
    <p><b>These are the restaurants that you have added to NumNums!</b></p>
</div>
<br/><br/>
<div class="container">
    <p th:unless="${restaurants} and ${restaurants.size()}"><i>You have not yet added a restaurant to NumNums!</i></p>
    <div>
        <br/><br/>
        <a class = "in text link" href="/NumNums/add">Add a restaurant</a>
    </div>
    <table class="table">
        <tr>
            <th>Name</th>
            <th>Address</th>
            <th>Gluten Free</th>
            <th>Lactose Free</th>
            <th>Vegan</th>
            <th>Vegetarian</th>
            <th>Non-Vegetarian</th>
            <th>Website</th>
        </tr>
        <tr th:each="restaurant : ${restaurants}">
            <td th:text="${restaurant.restaurantName}"></td>
            <td th:text="${restaurant.streetAddress} + ', ' + ${restaurant.city} + ', ' + ${restaurant.state} + ', ' + ${restaurant.zipCode}"></td>
            <td><div th:if="${restaurant.glutenFree}">Yes</div><div th:if="${!restaurant.glutenFree}">No</div></td>
            <td><div th:if="${restaurant.lactoseFree}">Yes</div><div th:if="${!restaurant.lactoseFree}">No</div></td>
            <td><div th:if="${restaurant.vegan}">Yes</div><div th:if="${!restaurant.vegan}">No</div></td>
            <td><div th:if="${restaurant.vegetarian}">Yes</div><div th:if="${!restaurant.vegetarian}">No</div></td>
            <td><div th:if="${restaurant.nonVegetarian}">Yes</div><div th:if="${!restaurant.nonVegetarian}">No</div></td>
            <td><a th:href="@{${restaurant.webAddress}}"><p th:text="${restaurant.webAddress}"></p></a></td>
            <td><a th:href="@{/NumNums/edit(id=${restaurant.id})}">Edit</a></td>
        </tr>
    </table>
</div>
</body>
</html>