html,body {
    font-family: sans-serif;
    background-color: #fcfc03;
    height: 100%;
    width:100%;
    margin: 0;
    padding: 0;
}

nav ul {
    background-color: #333;
    list-style-type: none;
    margin: 14px;
    padding: 0;
    overflow: hidden;

}

nav li a {
    display: block;
    color: white;
    float: right;
    padding: 14px 16px;
}

nav li a:hover {
    background-color: grey;
}

.error {
    color: red;
}

.b {
    text-align: center;
    display: inline-block;
}

.logo {
    float: left;
    margin: 14px;
    color: red;
}

#map {
        height: 500px;
        width:100%;
}

