<!DOCTYPE html>
<html lang="en"  xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head">
</head>
<body class="container">
<nav th:replace="fragments :: navigation"></nav>
    <form th:action="@{/NumNums/registration}" method="get">
        <button class="btn btn-md btn-warning btn-block" type="Submit">Don't have an account? Register here.</button>
    </form>
<form th:action="@{/NumNums/login}" method="POST" th:object="${aLogInUserObject}" class="form-signin">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <h3 class="form-signin-heading" th:text="Welcome"></h3>
                <br/>
                    <div class="form-group">
                        <div class="col-sm-9">
                            <input type="text" id="email" name="email" th:field="*{email}"  th:placeholder="Email"
                                class="form-control" /> <br/>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-9">
                        <input type="password" th:placeholder="Password"
                         id="password" name="password"  th:field="*{password}" class="form-control" /> <br />
                        </div>
                    </div>
                    <div align="center" th:text="${message}" th:if="${param.error}">
                    <p class="error">Email or Password invalid, please verify</p>
                    </div>
                    <div align="center"th:if="${param.logout}">
                        <p>You have been logged out</p>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-9">
                    <button class="btn btn-lg btn-primary btn-block" name="Submit" value="Login" type="Submit" th:text="Login"></button>
                        </div>
                    </div>
            </div>

            </div>
        </div>
    </div>
    </div>



</form>
</body>
</html>