<!DOCTYPE html>
<html lang="en"  xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="fragments :: head">
</head>
<body class="container">
<nav th:replace="fragments :: navigation"></nav>
    <form th:action="@{/NumNums/registration}" method="get">
        <button class="btn btn-md btn-warning btn-block" type="Submit">Don't have an account? Register here.</button>
    </form>

    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <form th:action="@{/login/login}" method="POST" class="form-signin">
                <h3 class="form-signin-heading" th:text="Welcome"></h3>
                <br/>
                    <div class="form-group">
                        <div class="col-sm-9">
                            <input type="text" id="email" name="email"  th:placeholder="Email"
                                class="form-control" /> <br/>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-9">
                        <input type="password"  th:placeholder="Password"
                         id="password" name="password" class="form-control" /> <br />
                        </div>
                    </div>
                    <div align="center" th:if="${param.error}">
                    <p class="error">Email or Password invalid, please verify</p>
                    </div>
                    <div align="center"th:if="${param.logout}">
                        <p>You have been logged out</p>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-9">
                    <button class="btn btn-lg btn-primary btn-block" name="Submit" value="Login" type="Submit" th:text="Login"></button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    </div>
</body>


</form>
</body>
</html>