<!DOCTYPE html>
<html xmlns:="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="fragments :: head">
</head>
<body class="container">
<nav th:fragment="navigation">
    <ul>
        <li><a class="logo" href="/NumNums"><h1 class="display-1">NumNums</h1></a></li>
        <li th:unless="${home}"><h4><a href="/NumNums/registration">Register</a></h4></li>
        <li th:unless="${home}"><h4><a href="/NumNums/login">Login</a></h4></li>
        <li th:if="${home}"><h4><a href="/NumNums/login">Home</a></h4></li>
        <li th:if="${home}" ><h4><a href="/NumNums/logout">Logout</a></h4></li>
        <li><h4><a href="/NumNums/about">About</a></h4></li>
    </ul>
</nav>
<h2><i>Welcome to NumNums! We're going to help you find something good to eat.</i></h2>
<div th:if="${home}">
    <b>You are logged in!</b>
</div>
<form  class="form-inline" method="post"  th:object="${aSearch}">
    <div class="form-group">
            <p><i class="lead">Please select your dining preferences.</i><br/>You may choose all that apply.</p>
    </div>
    <div class="form-group">
        <ul>
            <label class="mx-0">
                <label class="mx-"><input class="form-control" type="checkbox" name="glutenFree" th:field="*{glutenFree}" value="true"/>Gluten-Free</label>
                <label class="mx-2"><input class="form-control" type="checkbox" name="lactoseFree" th:field="*{lactoseFree}" value="true"/>Lactose-Free</label>
                <label class="mx-2"><input class="form-control" type="checkbox" name="vegan" th:field="*{vegan}" value="true"/>Vegan</label>
                <label class="mx-2"><input class="form-control" type="checkbox" name="vegetarian" th:field="*{vegetarian}" value="true" />Vegetarian</label>
                <label class="mx-2"><input class="form-control" type="checkbox" name="nonVegetarian" th:field="*{nonVegetarian}" value="true"/>Non-Vegetarian</label>
            </label>
        </ul>
    </div>
    <div class="form-group">
        <label class="mx-1" th:for="zipCode">Zip Code</label>
        <div>
            <small class="form-text text-muted">
                <span id="has-error" class="error" th:errors="*{zipCode}"></span>
            </small>
        <label class="mx-3">
            <input class="form-control" type="text" th:field="*{zipCode}"/>
        </label>
        </div>
    </div>
    <div class="dropdown">
        <div class="form-group">
            <div class="mx-3">
                <p>Search Distance in Miles</p>
             </div>
            <label class="mx-1">
            <select class="form=control" name="distance" th:field="*{distance}">
            <option value="5">5</option>
            <option value="10">10</option>
            <option value="15">15</option>
            <option value="20">20</option>
            <option value="25">25</option>
            </select>
            </label>
        </div>
    </div>
<br>
        <div class="form-group">
            <div class="ml-5">
                    <input class="form=control" type="submit" value="Search"/>
            </div>
        </div>
</form>
</body>
<footer th:replace="fragments ::footer"></footer>
</html>