<!DOCTYPE html>
<html xmlns:="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="fragments :: head">
</head>
<body class="container">
<nav th:replace="fragments :: navigation"></nav>
<h2>Welcome to NumNums! We're going to help you find something good to eat.</h2>
<form method="post" style="max-width:300px;" th:object="${aSearch}">
    <div class="form-group">
        <label th:for="zipCode">Zip Code</label>
        <input class="form-control" type="text" th:field="*{zipCode}"/>
        <span class="error" th:errors="*{zipCode}"></span>
    </div>
    <div class="dropdown">
        <p>Search Distance in Miles</p>
        <select name="distance" th:field="*{distance}">
            <option value="5">5</option>
            <option value="10">10</option>
            <option value="15">15</option>
            <option value="20">20</option>
            <option value="25">25</option>
        </select>
        <br><br>
    </div>
    <div class="checkbox">
        <p>Please select your dining preferences. You may choose all that apply.</p>
        <ul>
            <li><input type="checkbox" name="glutenFree" th:field="*{glutenFree}" value="true"/>gluten-free<br></li>
            <li><input type="checkbox" name="lactoseFree" th:field="*{lactoseFree}" value="true"/>lactose-free<br></li>
            <li><input type="checkbox" name="vegan" th:field="*{vegan}" value="true"/>vegan<br></li>
            <li><input type="checkbox" name="vegetarian" th:field="*{vegetarian}" value="true" />vegetarian<br></li>
            <li><input type="checkbox" name="nonVegetarian" th:field="*{nonVegetarian}" value="true"/>non-vegetarian<br></li>
        </ul>
    </div><br>
    <input type="submit" value="Search"/>

</form>
</body>
<footer th:replace="fragments ::footer"></footer>


</html>